<config>
    <modules>
        <JarabeSoft_Configviewer>
            <version>0.1.0</version>
        </JarabeSoft_Configviewer>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <jarabeSoft_configviewer_model_observer>
                        <type>singleton</type>
                        <class>JarabeSoft_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </jarabeSoft_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>
